<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Shop</h1>
          <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day
            multiply you’ll which</p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products-shop section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row align-items-center">
          <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="section-title">
              <h2 class="d-block text-left-sm">Shop</h2>

              <div class="heading d-flex justify-content-between mb-5">
                <p class="result-count mb-0"> Showing 1–6 of 17 results</p>
                <form class="ordering " method="get">
                  <select [ngModel]="selectedSorting" (ngModelChange)="onChange($event)" name="sel2">
                    <option [value]="i" *ngFor="let i of sortBy">{{i}}</option>
                  </select>
                  <input type="hidden" name="paged" value="1">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!--Loop on products in order to show the products per category -->
          <div class="col-lg-4 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let prod of fetchedCategories; let i = index">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first"
                                                     src="../../../assets/images{{prod.image}}" alt="product-img"/></a>
                <!--                <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="../../../assets/images/222.jpg" alt="product-img" /></a>-->
              </div>
              <ng-container *ngIf="onSale(i)"><span class="onsale">Sale</span></ng-container>
              <div class="product-hover-overlay">
                <a href="/cart">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                       viewBox="0 0 16 16">
                    <path
                      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                </a>
                <a href="/wishlist">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-suit-heart" viewBox="0 0 16 16">
                    <path
                      d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                  </svg>
                </a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a routerLink="/product-single">{{prod.name}}</a></h2>
                <span class="price">
                  ${{prod.price}}
                </span>
              </div>
            </div>
          </div>

          <div class="col-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-3">


        <!-- color and size -->
        <form class="mb-5">


          <!-- color -->
          <section class="widget widget-colors mb-5">
            <h3 class="widget-title h4 mb-4">Shop by color</h3>
            <ul class="list-inline">
              <li class="list-inline-item mr-4">
                <div class="custom-control custom-checkbox color-checkbox">
                  <input type="checkbox" class="custom-control-input" id="color1">
                  <label class="custom-control-label sky-blue" for="color1"></label>
                </div>
              </li>
              <li class="list-inline-item mr-4">
                <div class="custom-control custom-checkbox color-checkbox">
                  <input type="checkbox" class="custom-control-input" id="color2" checked>
                  <label class="custom-control-label red" for="color2"></label>
                </div>
              </li>
              <li class="list-inline-item mr-4">
                <div class="custom-control custom-checkbox color-checkbox">
                  <input type="checkbox" class="custom-control-input" id="color3">
                  <label class="custom-control-label dark" for="color3"></label>
                </div>
              </li>
              <li class="list-inline-item mr-4">
                <div class="custom-control custom-checkbox color-checkbox">
                  <input type="checkbox" class="custom-control-input" id="color4">
                  <label class="custom-control-label magenta" for="color4"></label>
                </div>
              </li>
              <li class="list-inline-item mr-4">
                <div class="custom-control custom-checkbox color-checkbox">
                  <input type="checkbox" class="custom-control-input" id="color5">
                  <label class="custom-control-label yellow" for="color5"></label>
                </div>
              </li>
            </ul>
          </section>

          <!-- size -->
          <section class="widget widget-sizes mb-5">
            <h3 class="widget-title h4 mb-4">Shop by Sizes</h3>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="size1" checked>
              <label class="custom-control-label" for="size1">L Large</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="size2">
              <label class="custom-control-label" for="size2">XL Extra Large</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="size3">
              <label class="custom-control-label" for="size3">M Medium</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="size4">
              <label class="custom-control-label" for="size4">S Small</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="size5">
              <label class="custom-control-label" for="size5">XS Extra Small</label>
            </div>
          </section>

          <button type="button" class="btn btn-black btn-small">Filter</button>
        </form>

        <!-- popular product -->
        <section class="widget widget-popular mb-5">
          <h3 class="widget-title mb-4 h4">Popular Products</h3>
          <a class="popular-products-item media" routerLink="/product-single">
            <img src="../../../assets/images/p-1.jpg" alt="" class="img-fluid mr-4">
            <div class="media-body">
              <h6>Contrast <br>Backpack</h6>
              <span class="price">$45</span>
            </div>
          </a>

          <a class="popular-products-item media" routerLink="/product-single">
            <img src="../../../assets/images/p-2.jpg" alt="" class="img-fluid mr-4">
            <div class="media-body">
              <h6>Hoodie with <br>Logo</h6>
              <span class="price">$45</span>
            </div>
          </a>

          <a class="popular-products-item media" routerLink="/product-single">
            <img src="../../../assets/images/p-3.jpg" alt="" class="img-fluid mr-4">
            <div class="media-body">
              <h6>Traveller<br>Backpack</h6>
              <span class="price">$45</span>
            </div>
          </a>
        </section>
      </div>
    </div>
  </div>
</section>
